<h1>Nome: Ana Carolina Rocha da Silva <br/>
RA: 0050832011001</h1>


<h2>GitHub eu</h2>

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Nome</th>
  </tr>
  <tr *ngFor = 'let repo of gitHubService.repos'>
    <td>{{repo.id}}</td>
    <td>{{repo.full_name}}</td>
  </tr>
</table>

<hr/>

<h2>BITCOIN <button (clicl)= 'updateBitcoinRates()'>Atualizar</button> </h2>


<table border='1'>
  <tr>
    <th>Data/Hora</th>
    <th>USD</th>
    <th>EUR</th>
  </tr>
  <tr *ngFor = 'let rates of this.bitcoinService.list'>
  <td>{{rates.time.updated}}</td>
  <td>{{rates.bpi.USD.symbol}}</td>
</tr>
</table>
